.team {
    width: 100%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__header {
        font-size: 34px;
        font-weight: 600;
        margin-top: 50px;
    }
    &__summary {
        width: 689px;
        font-size: 16px;
        padding: 0 20px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 50px;
        width: 95%;
        @media only screen and (max-width: 1482px) {
            width: 111%;
        }
        &--teamcard {
            width: auto;
            cursor: pointer;
            &_image {
                position: relative;
                &-content {
                    width: auto;
                }
                &-buttons {
                    position: absolute;
                    bottom: 40px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &__iconbtn {
                        width: auto;
                    }
                }
            }
            &_info {
                width: 100%;
                margin-top: 10px;
                &-name {
                    font-size: 30px;
                    font-weight: 600;
                    text-align: center;
                }
                &-title {
                    text-align: center;
                }
            }
        }
    }
}
.subscribe {
    width: 100%;
    height: 460px;
    display: flex;
    position: relative;
    padding: 0 5%;
    margin: 100px 0 100px 0;
    &__rectangle {
        position: absolute;
        left: 0;
        bottom: 0;
        margin-left: 5%;
        width: 90%;
        height: 431px;
        background-color: var(--scarlet);
    }
    &__container {
        position: absolute;
        bottom: 60px;
        left: 8%;
        z-index: 2;
        width: 596px;
        height: 310px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &--header {
            font-size: 40px;
            font-weight: 600;
        }
        &--description {
            font-weight: 500;
        }
        &--group {
            width: 100%;
            height: 70px;
            &_input {
                width: 437px;
                height: 100%;
                outline: none;
                border: none;
                overflow: hidden;
                padding-left: 20px;
                font-size: 16px;
            }
            &_btn {
                color: var(--wheat);
                background-color: var(--darkslategray);
                width: 159px;
                height: 100%;
                outline: none;
                border: none;
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
    &__image {
        z-index: 2;
        position: absolute;
        right: 8%;
        top: 0;
    }
}